<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

<head>
    <title>Buffer Overflow</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<h1>Buffer Overflow</h1>

<body>

<div id="Registerdiv">
    <form method="POST" name="Register" action="/adduser">
        <label for="username">Your username:</label>
        <input type="text" name="username" required="required" placeholder="Username"><br>
        <label for="email">Your email:</label>
        <input type="text" name="email" required="required" placeholder="Email"><br>
        <label for="password">Your password:</label>
        <input type="text" name="password" required="required" placeholder="Password"><br>
        <input type="submit"/>
    </form>
</div>

</body>

</html>